@charset "UTF-8";
h1 {
	text-align: center;
	font-size: 80px;
	background-color: #ffb973;
	padding: 15px;
  	color: white;
  	border-radius: 50pc;
  	margin: 20px;
}

body{ 
	-ms-overflow-style: none;
} 
::-webkit-scrollbar { 
	display: none; 
}

div {
	margin: 100px;
	text-align: center;
}

#name {
	font-size: 80px;
	width: 700px;
	margin-bottom: 100px;
	border-radius: 50pc;
	border:1px solid #d7d7d7;
	text-align: center;
}

input::placeholder {
  color: #d7d7d7;
  font-style: italic;
  text-align: center;
}

#btn {
	background-color: #ffb973;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  font-size: 75px;
  border-radius: 50pc;
  margin-bottom: 100px;
}

.hide {
	-ms-user-select: none; 
 	-moz-user-select: -moz-none;
  	-khtml-user-select: none;
  	-webkit-user-select: none;
  	user-select: none;
  	background-color: #ffb973;
  	font-size: 75px;
  	padding: 5px 15px;
  	color: white;
  	border-radius: 50pc;
}

#mode {
	display: none;
}
