@charset "UTF-8";
h1 {
	text-align: center;
	font-size: 80px;
	background-color: #ffb973;
	padding: 15px;
  	color: white;
  	border-radius: 50pc;
  	margin: 20px 20px;
}

body{ 
	-ms-overflow-style: none;
	background-color: #FFF8E7;
} 
::-webkit-scrollbar { 
	display: none; 
}

#read {
	font-family: sans-serif;
	font-size: 50px;
	color: #FFF8E7;
	background-color: #ffb973;
	border-radius: 50pc;
	padding: 5px 10px;
}

div {
	margin: 100px;
	text-align: center;
}

#name {
	font-size: 80px;
	width: 700px;
	margin-bottom: 100px;
	border-radius: 50pc;
	border:0px solid #FFF8E7;
	text-align: center;
	
}

input::placeholder {
  color: #d7d7d7;
  font-style: italic;
  text-align: center;
}

input:focus {
	outline:none;
}

#btn {
	background-color: #ffb973;
	border: none;
	color: white;
	padding: 5px 20px;
	text-align: center;
	font-size: 75px;
	border-radius: 50pc;
	margin-bottom: 100px;
}

.hide {
	-ms-user-select: none; 
 	-moz-user-select: -moz-none;
  	-khtml-user-select: none;
  	-webkit-user-select: none;
  	user-select: none;
  	background-color: #ffb973;
  	font-size: 75px;
  	padding: 5px 15px;
  	color: white;
  	border-radius: 50pc;
}

#mode {
	display: none;
}
